﻿@using Newtonsoft.Json;
@using AGEvents.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AG Events Booking</title>
    <meta name="description" content="Free Bootstrap 4 Admin Theme | Pike Admin">
    <meta name="author" content="Pike Web Development - https://www.pikephp.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome CSS -->
    <link href="~/Content/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN CSS for this page -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
    <!-- END CSS for this page -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
    <style>
        td.details-control {
            background: url('assets/plugins/datatables/img/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('assets/plugins/datatables/img/details_close.png') no-repeat center center;
        }

        .parsley-error {
            border-color: #ff5d48 !important;
        }

        .parsley-errors-list.filled {
            display: block;
        }

        .parsley-errors-list {
            display: none;
            margin: 0;
            padding: 0;
        }

            .parsley-errors-list > li {
                font-size: 12px;
                list-style: none;
                color: #ff5d48;
                margin-top: 5px;
            }

        .form-section {
            padding-left: 15px;
            border-left: 2px solid #FF851B;
            display: none;
        }

            .form-section.current {
                display: inherit;
            }

        .shashka {
            writing-mode: vertical-rl;
            font-weight: 800;
            font-size: 70px;
        }

        @@media all and (max-width: 600px) {
            .shashka {
                writing-mode: inherit;
                font-weight: 800;
                font-size: 50px;
            }
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #calendar {
            width: 100%;
        }

        .fc-event {
            font-size: 1em;
            border-radius: 2px;
            border: none;
            padding: 5px;
        }

        .fc-day-grid-event .fc-content {
            color: #fff;
        }

        .fc-button {
            background: #eaeaea;
            border: none;
            color: #666b6f;
            margin: 0 3px !important;
            padding: 5px 12px !important;
            text-transform: capitalize;
            height: auto !important;
            box-shadow: none !important;
            border-radius: 3px !important;
        }

        .fc-state-down, .fc-state-active, .fc-state-disabled {
            background-color: #009ffc !important;
            color: #ffffff !important;
            text-shadow: none !important;
        }

        .fc-toolbar h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-transform: uppercase;
        }

        .fc th.fc-widget-header {
            background: #e6e6e6;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 18px;
            padding: 10px 0px;
        }

        .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
            border-color: #eff1f3;
        }
    </style>
    <!-- END CSS for this page -->
</head>

<body class="adminbody">

    <div id="main">

        <!-- top bar navigation -->
        <div class="headerbar">

            <!-- LOGO -->
            <div class="headerbar-left">
                <a href="index.html" class="logo">@*<img alt="Logo" src="~/Content/assets/images/logo.png" /> <span>*@AG</span></a>
            </div>

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">


                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="~/Content/assets/images/avatars/admin.png" alt="Profile image" class="avatar-rounded">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>@Session["name"]</small> </h5>
                            </div>


                            <!-- item-->
                            <a href="@Url.Action("Logout","Auth")" class="dropdown-item notify-item">
                                <i class="fa fa-power-off"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- End Navigation -->
        <!-- Left Sidebar -->
        <div class="left main-sidebar">

            <div class="sidebar-inner leftscroll">

                <div id="sidebar-menu">

                    <ul>

                        <li class="submenu">
                            <a class="active" href="@Url.Action("Index","Home")"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
                        </li>
                        @{
                            int role = Convert.ToInt32(Session["role"]);
                        }

                        @if (role == 2 || role == 1)
                        {
                            <li class="submenu">
                                <a href="#"><i class="fa fa-fw fa-bank"></i> <span> Organizer </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("AddOrganizer","Home")">Add Organizer</a></li>
                                    <li><a href="@Url.Action("Organizers","Home")">Organizers List</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fa fa-fw fa-female"></i> <span> Aunties </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("AddAunty","Home")">Add Aunty</a></li>
                                    <li><a href="@Url.Action("Auntys","Home")">Aunties List</a></li>
                                </ul>
                            </li>

                            <li class="submenu">
                                <a href="#"><i class="fa fa-fw fa-calendar"></i> <span> Events </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("AddEvent","Home")">Create Event</a></li>
                                    <li><a href="@Url.Action("Events","Home")">Events List</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#"><i class="fa fa-fw fa-file"></i> <span> Report </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("WorkHistory","Home")">Invoice</a></li>
                                </ul>
                            </li>
                        }
                        else if (role == 3)
                        {
                            <li class="submenu">
                                <a href="#"><i class="fa fa-fw fa-calendar"></i> <span> Update Availability </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("AddAunty_AVailability","Home")">Add Leave</a></li>
                                    @*<li><a href="@Url.Action("AuntyWorks","Home")">Work History</a></li>*@
                                </ul>
                            </li>
                        }



                    </ul>

                    <div class="clearfix"></div>

                </div>

                <div class="clearfix"></div>

            </div>

        </div>
        <!-- End Sidebar -->


        <div class="content-page">

            @RenderBody()
        </div>
        <!-- END content-page -->

        <footer class="footer">
            <span class="text-right">
                Copyright <a target="_blank" href="#">AG Events.</a>
            </span>
            <span class="float-right">
                Developed by <a target="_blank" href="http://www.nodlays.com"><b>Nodlays.</b></a>
            </span>
        </footer>

    </div>
    <!-- END main -->

    <script src="~/Content/assets/js/modernizr.min.js"></script>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/moment.min.js"></script>

    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <script src="~/Content/assets/js/detect.js"></script>
    <script src="~/Content/assets/js/fastclick.js"></script>
    <script src="~/Content/assets/js/jquery.blockUI.js"></script>
    <script src="~/Content/assets/js/jquery.nicescroll.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/pikeadmin.js"></script>


    <!-- END Java Script for this page -->
    <!-- BEGIN Java Script for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- Counter-Up-->
    <script src="~/Content/assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/plugins/parsleyjs/parsley.min.js"></script>
    <script src="~/Content/assets/plugins/select2/js/select2.min.js"></script>
    <!-- BEGIN Java Script for this page -->
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    @{
        var list = ViewBag.data;
    }
    <script>
        $(document).ready(function () {

            /* initialize the external events
            -----------------------------------------------------------------*/
            $('#external-events .fc-event').each(function () {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });
            var eventData = [];
            eventData=@Html.Raw(Json.Encode(list));
            @*var obj = $.parseJSON(@list);
            console.log(obj);
            $(obj.event).each(function () {
                events.push({
                    title: $(this).attr('title'),
                    start: new Date($(this).attr('start')),
                    end: new Date($(this).attr('end'))
                });
            });*@  
            /* initialize the calendar
            -----------------------------------------------------------------*/
            var date = new Date();
            var d = date.getDate();
            m = date.getMonth();
            y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
                    var a=$('#s').val(start);
                    var b=$('#e').val(end);
                    $.ajax({
                       url: "@Url.Action("CalendarData", "Home")",
                        type: "POST",
                        data: { Start: new Date($('#s').val()).toDateString(), End: new Date($('#e').val()).toDateString() },
                            success: function (html) {
                                $("#results").append(html.list);
                            }
                        });
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };

                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                //

                events: eventData, /*eventData,*/
                    //[
                    //{
                    //    title: 'All Day Event',
                    //    start: new Date(y, m, 2),
                    //    className: 'bg-primary',
                    //}],
                //    {
                //        title: 'Long Event',
                //        start: new Date(y, m, d - 4),
                //        end: new Date(y, m, d - 2),
                //        className: 'bg-info',
                //    },
                //    {
                //        title: 'Meeting John',
                //        start: new Date(y, m, d, 3, 20),
                //        allDay: false,
                //        className: 'bg-primary',
                //    },
                //    {
                //        title: 'New Task',
                //        start: new Date(y, m, d, 12, 0),
                //        end: new Date(y, m, d, 16, 0),
                //        allDay: false,
                //        className: 'bg-danger',
                //    },

                //    {
                //        title: 'Old Task',
                //        start: new Date(y, m, d, 12, 0),
                //        end: new Date(y, m, d, 16, 0),
                //        allDay: false,
                //        className: 'bg-danger',
                //    },
                //    {
                //        title: 'Birthday Party',
                //        start: new Date(y, m, d + 2, 15, 0),
                //        end: new Date(y, m, d + 2, 20, 40),
                //        allDay: false,
                //        className: 'bg-warning',
                //    },
                //    {
                //        title: 'Alice Birthday',
                //        start: new Date(y, m, d + 4, 15, 0),
                //        end: new Date(y, m, d + 4, 18, 30),
                //        allDay: false,
                //        className: 'bg-info',
                //    },
                //    {
                //        title: 'Click for Google',
                //        start: new Date(y, m, 27),
                //        end: new Date(y, m, 28),
                //        url: 'http://google.com/',
                //        className: 'bg-danger',
                //    }

                //],
                droppable: true, // this allows things to be dropped onto the calendar
                drop: function () {

                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                }
            });
        });
    </script>
    <!-- END Java Script for this page -->
    <script>

        $(document).ready(function () {
            $('.select2').select2();
        });
        $('#form').parsley();

    </script>
    <!-- END Java Script for this page -->

</body>
</html>