﻿
@{
    ViewBag.Title = "AddAunty_AVailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Aunty Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Add Aunty</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <h1 class="shashka">
                    Add Leave
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-calendar"></i> Add Aunty's Leave</h3>

                    </div>

                    <div class="card-body">

                        <form action="@Url.Action("PostAunty_Availibility","Home")" method="post" data-parsley-validate novalidate>
                            <p><i class="fa fa-circle-o-notch"></i> You are available for events for the events.</p>
                            <p><i class="fa fa-circle-o-notch"></i> If you want to have leave then you can fill this form to show unavailibility to the manager.</p>
                            <div class="form-group">
                                <label>Start Date</label>
                                <div>
                                    <input name="StartDate" type="date" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <div>
                                    <input name="EndDate" type="date" class="form-control" required />
                                </div>
                                <small class="form-text ">Add same start and end date if you want to have leave for one day.</small>
                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary m-l-5">
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div><!-- end card-->
            </div>



        </div>





    </div>
    <!-- END container-fluid -->

</div>
<!-- END content -->
