﻿
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AGEvents.Models;
@using AGEvents.BL;

<!-- Start content -->
<div class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Event Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Create Event</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <h1 class="shashka">
                    Add Event
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-calendar"></i> Add Event</h3>
                        Information about event.
                    </div>

                    <div class="card-body">

                        <form action="@Url.Action("PostEvent","Home")" method="post" data-parsley-validate novalidate>
                            <div class="form-group">
                                <label for="userName">Event Name<span class="text-danger">*</span></label>
                                <input type="text" name="EventName" data-parsley-trigger="change" required placeholder="Enter event name" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event Start Date<span class="text-danger">*</span></label>
                                <input type="date" name="EventStartDate" data-parsley-trigger="change" onchange="DateCompare(this)" required placeholder="Enter event name" class="form-control" id="sdate">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event End Date<span class="text-danger">*</span></label>
                                <input type="date" name="EventEndDate" data-parsley-trigger="change" onchange="DateValidator(this)" required placeholder="Enter event name" class="form-control" id="edate">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event Status<span class="text-danger">*</span></label>
                                <input type="text" name="Status" data-parsley-trigger="change" required readonly placeholder="Enter event status" class="form-control status" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event Venue<span class="text-danger">*</span></label>
                                <input type="text" name="EventVenue" data-parsley-trigger="change" required placeholder="Enter event vanue" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event Location<span class="text-danger">*</span></label>
                                <input type="text" name="EventLocation" data-parsley-trigger="change" required placeholder="Enter event location" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userName">Event Level<span class="text-danger">*</span></label>
                                <input type="text" name="EventLevel" data-parsley-trigger="change" required placeholder="Enter event name" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label>Event Booth No.</label>
                                <div>
                                    <input  type="text" name="EventBoothNo" class="form-control" required placeholder="Enter booth number" />
                                </div>
                            </div>
                            @{ 
                                var d = DateTime.Today.ToString("yyyy-MM-dd");
                            }
                            <div class="form-group">
                                <label for="userName">Booking Date<span class="text-danger">*</span></label>
                                <input type="date" name="BookingDate" value="@d" data-parsley-trigger="change" required class="form-control" id="datePicker">
                            </div>
                            
                            <div class="form-group">
                                <label for="pass1">Organizer<span class="text-danger">*</span></label>
                                <select required name="OrganizerId" class="form-control">
                                    <option value="" selected disabled>Select Organizer</option>
                                    @{
                                        List<Organizer> list = new UserBL().getAllOrganizersList();
                                    }
                                    @foreach (var item in list)
                                    {
                                        <option value="@item.Id">@item.CompanyName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary m-l-5">
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div><!-- end card-->
            </div>



        </div>





    </div>
    <!-- END container-fluid -->

</div>
<!-- END content -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datePicker').val(new Date().toDateInputValue());
    });​
    function dayOfWeek(d) {
    var date=d.value;
    var a = date.split("-");
var dated = new Date( a[0]+"/"+ a[1]+"/"+ a[2] ).getDay();
            var dayNames = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Sunday');
    var Day=dayNames[dated];
        $(".day").val(Day);
        DateCompare(d);

    }
    function DateCompare(d) {
        var CurrentDate = new Date();
            var date = d.value;
            var a = date.split("-");
            var dated = new Date(a[2], a[1], a[0]);


            //As quite rightly mentioned, January = 0, so if your inputs have the literal number for each month (1 for January) replace the line above with the following, to take a month off:
            //var SelectedDate = new Date($('[id$=txtYear]').val(), $('[id$=drpMonth]').val()-1, $('[id$=spDate]').val());

            if (CurrentDate > dated) {
                //CurrentDate is more than SelectedDate
                $(".status").val("Upcomming");
            }
            else {
                $(".status").val("Out Dated");
            }

        }
    function getAunty(d){
    var date=d.value.toDateString();
    $.ajax({
      type: 'post',
      url: '@Url.Action("GetAunties","Home")',
      data: {
        'Start': date
      },
      success: function (response) {
        alert(response.list);
      },
      error: function () {
        alert("error");
      }
   });
    };
    function DateValidator(d){
    var from = $("#sdate").val();
var to = $("#edate").val();

if(Date.parse(from) > Date.parse(to)){
   alert("Invalid Date Range");
    $("#edate").val("");
}
    }
    
</script>