﻿@model AGEvents.Models.Event
@{
    ViewBag.Title = "AssignAunties";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime date1 = Convert.ToDateTime(Model.EventEndDate);
    DateTime date2 = Convert.ToDateTime(Model.EventStartDate);
    TimeSpan t = date1 - date2;
    int result = Convert.ToInt32(t.TotalDays);
    if (result == 0)
    {
        result = result + 1;
    }

}
@using AGEvents.Models;
@using AGEvents.BL;
<!-- Start content -->
<div class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Aunty Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Assign Aunty</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <h1 class="shashka">
                    Assign Aunties
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-calendar"></i> Assign Aunty</h3>
                    </div>

                    <div class="card-body">

                        <form action="@Url.Action("PostAssignAunty","Home")" method="post" data-parsley-validate novalidate>

                            <div class="form-group">
                                <label for="userName">Select Event Day<span class="text-danger">*</span></label>
                                <select class="form-control" name="EventDate" onchange="getAunty(this)">
                                    <option value="" disabled selected>Select Event Day</option>

                                    @for (int i = 0; i < result; i++)
                                    {
                                        <option value="@date2.AddDays(i)"> Day @(i + 1)</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" name="EventId" value="@Model.Id" />
                            <div class="form-group">
                                <label for="userName">Assign Aunty<span class="text-danger">*</span></label>
                                @{ 
                                    List<Aunty> list = new UserBL().getAllAuntysList().Where(x => x.Aunty_Availability!=null).ToList();
                                }
                                <select class="form-control" name="AuntyId" id="aunty" required>
                                    <option value="" disabled selected>Select aunty</option>

                                    @*@foreach (var item in list)
                                    {
                                        <option value="@item.Id"> @item.Name</option>
                                    }*@
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Rental Cost</label>
                                <div>
                                    <input data-parsley-type="number" type="text" name="RentalCost" class="form-control" required placeholder="Enter rental cost" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Additional Cost</label>
                                <div>
                                    <input data-parsley-type="number" type="text" name="AdditionalCost" class="form-control" placeholder="Enter additional cost" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sales Amount</label>
                                <div>
                                    <input data-parsley-type="number" type="text" name="SalesAmount" class="form-control" required placeholder="Enter sales amount" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName">Payment Date<span class="text-danger">*</span></label>
                                <input type="date" name="PaymentDate" data-parsley-trigger="change" onchange="dayOfWeek(this)" required placeholder="E" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label>Invoice Number</label>
                                <div>
                                    <input data-parsley-type="number" type="text" name="InvoiceNumber" class="form-control" required placeholder="Enter invoice number" />
                                </div>
                            </div>
                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary m-l-5">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div><!-- end card-->
            </div>



        </div>





    </div>
    <!-- END container-fluid -->

</div>
<!-- END content -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function getAunty(d){
    var date=d.value;
    $.ajax({
      type: 'POST',
      url: '@Url.Action("GetAunties","Home")',
      data: {
          'Start': date
        },
      success: function (response) {
          $('#aunty').children().remove().end().append('<option selected value="" disabled>Select aunty</option>');

          $.each(response, function (key, value) {
                    $('#aunty')
                  .append($("<option></option>")
                      .attr("value", value.Id)
                      .text(value.Name));
          });
      },
      error: function () {
        alert("error");
      }
   });
    }
</script>