﻿
@{
    ViewBag.Title = "AuntyDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <div class="container-fluid">



        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Aunty Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Take Leave</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->




        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card-box tilebox-one noradius">
                    <div id="calendar"></div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="s" />
<input type="hidden" id="e" />
