﻿@model List<AGEvents.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start content -->
<div class="content">

    <div class="container-fluid">



        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Event Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Events List</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> All Events</h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-hover display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Venue</th>
                                        <th>Location</th>
                                        <th>Level</th>
                                        <th>Status</th>
                                        <th>Booth No</th>
                                        <th>Booking Date</th>
                                        <th>Organizer</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.EventName</td>
                                        <td>@item.EventStartDate</td>
                                        <td>@item.EventEndDate</td>
                                        <td>@item.EventVenue</td>
                                        <td>@item.EventLocation</td>
                                        <td>@item.EventLevel</td>
                                        <td>@item.Status</td>
                                        <td>@item.EventBoothNo</td>
                                        <td>@item.BookingDate</td>
                                        <td>@item.Organizer.CompanyName</td>
                                        <td>
                                            <a href="@Url.Action("AssignAunties","Home",new { Id=item.Id})" class="btn btn-success">Assign Aunty</a>
                                            <a href="@Url.Action("UpdateEvent","Home",new { Id=item.Id})" class="btn btn-warning">Edit</a>
                                            @*<a href="@Url.Action("DeleteEvent","Home",new { Id=item.Id})" class="btn btn-danger">Delete</a>*@

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><!-- end card-->
            </div>



        </div>
    </div>
    </div>

