﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AGEvents.Models;
@using AGEvents.BL;

<!-- END Java Script for this page -->
@if (Session["AId"] != null)
{
    <div class="content">

        <div class="container-fluid">



            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Aunty Section</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active">Take Leave</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->




            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card-box tilebox-one noradius">
                        <div id="calendar"></div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="s" />
    <input type="hidden" id="e" />
    
    
}
else
{
    <!-- Start content -->
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title float-left">Dashboard</h1>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            @{
                var aunties = new UserBL().getAllAuntysList().Count();
                var organizers = new UserBL().getAllOrganizersList().Count();
                var events = new UserBL().getEventsList().Count();
                var Upcomming = new UserBL().getEventsList().Where(x => x.Status == "Upcomming ").ToList().Count();
            }

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-default">
                        <i class="fa fa-calendar-o float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Events</h6>
                        <h1 class="m-b-20 text-white counter">@events</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-warning">
                        <i class="fa fa-building-o float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Organizers</h6>
                        <h1 class="m-b-20 text-white counter">@organizers</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-info">
                        <i class="fa fa-female float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Aunties</h6>
                        <h1 class="m-b-20 text-white counter">@aunties</h1>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card-box noradius noborder bg-danger">
                        <i class="fa fa-calendar-check-o float-right text-white"></i>
                        <h6 class="text-white text-uppercase m-b-20">Upcomming Events</h6>
                        <h1 class="m-b-20 text-white counter">@Upcomming</h1>
                    </div>
                </div>
            </div>
            <!-- end row -->





        </div>
        <!-- END container-fluid -->

    </div>
    <!-- END content -->
}
