﻿@model List<AGEvents.Models.Aunty_Availability_Event>
@{
    ViewBag.Title = "Invoice";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Invoice</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br />
                <button id="basic" class="btn btn-default pull-right"><i class="fa fa-print"></i> Print</button>
                <br />
                <br />
                <div class="card" id="demo">
                    <div class="card-body p-0">
                        @*<div class="row p-5">
                            
                            <div class="col-md-6">
                                <h1>AG Events Booking</h1>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-1">Invoice #@Model.Id</p>
                                <p class="text-muted">Event Date: @Model.EventDate</p>
                            </div>
                        </div>
                        <hr class="my-5">
                        <h3 class="text-center">Sales Performance statement</h3>
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">Event Information</p>
                                <p class="mb-1">@Model.EventName</p>
                                <p class="mb-1">@Model.EventVenue</p>
                                <p class="mb-1">@Model.EventLocation</p>
                            </div>
                            <div class="col-md-6 text-right" >
                                <p class="font-weight-bold mb-4">Payment Details</p>
                                <p class="mb-1"><span class="text-muted">Date: </span> @Model.PaymentDate</p>
                            </div>
                        </div>*@
                        <div class="row p-5">
                            <div class="col-md-12">
                                <h1 style="text-align:center">AG Events</h1>
                                <br />
                                <br />
                                <br />
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase small font-weight-bold">Event ID</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Aunty Name</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">IC No.</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Event Date</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Event Location</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Sales Amount</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Rental Cost</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Additional Cost</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Net Sales</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Commision Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.EventId</td>
                                            <td>@item.Aunty.Name</td>
                                            <td>@item.Aunty.ICNo</td>
                                            <td>@item.EventDate.Value.ToShortDateString()</td>
                                            <td>@item.Event.EventLocation</td>
                                            <td>@item.SalesAmount</td>
                                            <td>@item.RentalCost</td>
                                            <td>@item.AdditionalCost</td>
                                            <td>@(Convert.ToDouble(item.SalesAmount) - Convert.ToDouble(item.RentalCost) - Convert.ToDouble(item.AdditionalCost))</td>
                                            <td>@(Convert.ToDouble(item.Commission) * 0.2)</td>
                                        </tr>
                                    }
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                        @*<div class="d-flex flex-row-reverse bg-dark text-white p-4">
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Grand Total</div>
                                <div class="h2 font-weight-light">$234,234</div>
                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Discount</div>
                                <div class="h2 font-weight-light">10%</div>
                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Sub - Total amount</div>
                                <div class="h2 font-weight-light">$32,432</div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="~/Content/assets/js/printThis.js"></script>
    <!-- demo -->
    <script>
$('#basic').on("click", function () {
      $('#demo').printThis({
        base: "https://jasonday.github.io/printThis/"
      });
    });</script>
</body>
</html>


<!------ Include the above in your HEAD tag ---------->




