﻿@model List<AGEvents.Models.Organizer>
@{
    ViewBag.Title = "Organizers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="content">

    <div class="container-fluid">



        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Event Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Events List</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->



        <div class="alert alert-success" role="alert">
            <p></p>
        </div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> All Events</h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-hover display">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Email</th>
                                        <th>Mobile No.</th>
                                        <th>Contact Person</th>
                                        <th>Address</th>
                                        <th>Tel</th>
                                        <th>Fax</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.CompanyName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.ContactPerson</td>
                                        <td>@item.Address</td>
                                        <td>@item.Tel</td>
                                        <td>@item.Fax</td>
                                        <td>
                                            <a href="@Url.Action("UpdateOrganizer","Home",new { Id=item.Id})" class="btn btn-success"><i class="fa fa-pencil-square"></i></a>
                                            <a href="@Url.Action("DeleteOrganizer","Home",new { Id=item.Id})" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>

                                        </td>
                                    </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><!-- end card-->
            </div>



        </div>
    </div>
</div>

