﻿
@model AGEvents.Models.Aunty


@{
    ViewBag.Title = "AddAunty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Aunty Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Update Aunty</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        <div class="alert alert-success" role="alert">
            <p></p>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <h1 class="shashka">
                    Update Aunty
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-calendar"></i> Add Aunty</h3>
                        Information about event.
                    </div>

                    <div class="card-body">

                        <form action="@Url.Action("PostUpdateAunty","Home")" method="post" data-parsley-validate novalidate>
                            <div class="form-group">
                                <label for="userName">Name<span class="text-danger">*</span></label>
                                <input type="text" name="Name" data-parsley-trigger="change" value="@Model.Name" required placeholder="Enter aunty name" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label>Mobile</label>
                                <div>
                                    <input data-parsley-type="number" name="Mobile" type="text" value="@Model.Mobile" class="form-control" required placeholder="Enter mobile number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>IC No.</label>
                                <div>
                                    <input name="ICNo" type="text" value="@Model.ICNo" class="form-control" required placeholder="Enter ic no." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bank Name</label>
                                <div>
                                    <input name="BankName" type="text" value="@Model.BankName" class="form-control" required placeholder="Enter bank name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bank Account</label>
                                <div>
                                    <input name="BankAccount" type="text" value="@Model.BankAccount" class="form-control" required placeholder="Enter bank account" />
                                </div>
                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary m-l-5">
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div><!-- end card-->
            </div>



        </div>





    </div>
    <!-- END container-fluid -->

</div>
<!-- END content -->
