﻿@model AGEvents.Models.Organizer
    @{
    ViewBag.Title = "UpdateOrganizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start content -->
<div class="content">

    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Organizer Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Update Organizer</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <h1 class="shashka">
                    Update Organizer
                </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-calendar"></i> Add Event</h3>
                        Information about event.
                    </div>

                    <div class="card-body">

                        <form action="@Url.Action("PostUpdateOrganizer","Home")" method="post" data-parsley-validate novalidate>
                            <div class="form-group">
                                <label for="userName">Company Name<span class="text-danger">*</span></label>
                                <input type="text" name="CompanyName" data-parsley-trigger="change" required placeholder="Enter company name" value="@Model.CompanyName" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email <span class="text-danger">*</span></label>
                                <input type="email" name="Email" data-parsley-trigger="change" required placeholder="Enter email" class="form-control" id="emailAddress" value="@Model.Email">
                            </div>
                            <div class="form-group">
                                <label>Mobile</label>
                                <div>
                                    <input data-parsley-type="number" name="Mobile" type="text" class="form-control" required value="@Model.Mobile"  placeholder="Enter mobile number />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contact Person</label>
                                <div>
                                    <input name="ContactPerson" type="text" value="@Model.ContactPerson" class="form-control" required placeholder="Enter contact person" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName">Address<span class="text-danger">*</span></label>
                                <input type="text" name="Address" value="@Model.Address" data-parsley-trigger="change" required placeholder="Enter company address" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label>Website URL</label>
                                <div>
                                    <input data-parsley-type="url" type="url" name="Website" value="@Model.Website" class="form-control" required placeholder="URL" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tel</label>
                                <div>
                                    <input data-parsley-type="number" name="Tel" type="text" value="@Model.Tel" class="form-control" required placeholder="Enter telephone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Fax</label>
                                <div>
                                    <input data-parsley-type="number" name="Fax" type="text" value="@Model.Fax" class="form-control" required placeholder="Enter fax" />
                                </div>
                            </div>

                            <div class="form-group text-right m-b-0">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary m-l-5">
                                    Cancel
                                </button>
                            </div>

                        </form>

                    </div>
                </div><!-- end card-->
            </div>



        </div>





    </div>
    <!-- END container-fluid -->

</div>
<!-- END content -->
