﻿@model List<AGEvents.Models.Event>
@{
    ViewBag.Title = "WorkHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AGEvents.BL;
@using AGEvents.Models;
<div class="content">

    <div class="container-fluid">



        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-holder">
                    <h1 class="main-title float-left">Invoice Section</h1>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active">Invoice</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->


        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.error</p>
            </div>
        }
        @if (ViewBag.msg != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.msg</p>
            </div>
        }
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> Generate Invoice</h3>
                    </div>

                    <div class="card-body">
                        <form action="@Url.Action("Invoice","Home")" method="post">
                            <div class="row">
                                <div class="col">
                                    <label class="control-label">Month</label>
                                    <select class="form-control" name="month" required>
                                        <option value="" selected disabled>Select month</option>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                                <div class="col">
                                    <label class="control-label">Year</label>
                                    <select class="form-control" name="year" required>
                                        <option value="" selected disabled>Select year</option>
                                        @for (int i = 2017; i <= 2025; i++)
                                        {
                                            <option value="@i"> @i</option>
                                        }

                                    </select>
                                </div>
                                <div class="col">
                                    @{ 
                                        List<Aunty_Availability_Event> list = new UserBL().getAllAunty_Availability_EventsList();
                                    }
                                    <label class="control-label">Year</label>
                                    <select class="form-control select" name="AuntyId" required>
                                        <option value="" selected disabled>Select aunty</option>
                                        @if (list != null)
                                        {
                                            foreach (var item in list)
                                            {
                                                <option value="@item.AuntyId"> @item.Aunty.Name</option>
                                            }
                                        }


                                    </select>
                                </div>
                                <div class="col">

                                    <input type="submit" class="btn btn-info" value="Generate Invoice" style="margin-top:28px;">
                                </div>
                            </div>
                        </form>

                    </div>
                </div><!-- end card-->
            </div>



        </div>

        @*<div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> All Events</h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-hover display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Organizer</th>
                                        <th>Volunteer Aunty</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.EventName</td>
                                            <td>@item.EventStartDate</td>
                                            <td>@item.EventEndDate</td>
                                            <td>@item.Organizer.CompanyName</td>
                                            @if (item.Aunty_Availability_Event.Count > 0)
                                            {
                                                <td>@item.Aunty_Availability_Event.FirstOrDefault().Aunty.Name</td>
                                            }
                                            else
                                            {
                                                <td>No Aunty Assigned</td>
                                            }

                                            <td>
                                                <a href="@Url.Action("AssignAunties","Home",new { Id=item.Id})" class="btn btn-success">Assign Aunty</a>
                                                <a href="@Url.Action("UpdateEvent","Home",new { Id=item.Id})" class="btn btn-warning">Edit</a>
                                                @*<a href="@Url.Action("DeleteEvent","Home",new { Id=item.Id})" class="btn btn-danger">Delete</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div> end card
            </div>



        </div>*@
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        var map = {};
        $('.select option').each(function () {
            if (map[this.value]) {
                $(this).remove()
            }
            map[this.value] = true;
        })
    });
</script>